form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

form > input, textarea {
    padding: 1em;
    margin: 1em 0em 0em 1em;
    border-color: black;
    border-radius: .5em;
}

.checkbox--container{
    margin: 1em 0em 0em 1em;
}

fieldset{
    margin: 1em 0em 0em 1em;
    display: flex;
    flex-direction: column;
}

.select--container{
    display: flex;
    flex-direction: column;
    margin: 1em 0em 0em 1em;
}

.select--container > label{
    margin-bottom: .5em;
}

button {
    width: 205px;
    margin: 1em 0em 0em 1em;
    padding: 1em;
    font-size: 1em;
    background-color: transparent;
    border: 1px solid black;
    border-radius: .5em;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
}


